@charset "UTF-8";

header {
	font-size: 46px;
	text-align: center;
	line-height: 0.95em;
	font-weight: bold;
	color: #fffff0;
	text-shadow: 0 0.05em 0.08em rgba(0, 0, 0, 0.7);
	font-family: "Meiryo";
}

p {
	text-align: center;
	margin: 0;
	padding: 0;
	font-size: 25px;
}

.login {
	position: center;
	display: inline-block;
	font-size: 14pt;
	text-align: center;
	cursor: pointer;
	padding: 12px 32px;
	background: #000066;
	color: #ffffff;
	line-height: 1em;
	transition: .3s;
	box-shadow: 8px 8px 3px #666666;
	border: 2px solid #000066;
	position: relative;
	top: 10px;
}

.login:hover {
	box-shadow: none;
	color: #000066;
	background: #ffffff;
}

.button {
	position: center;
	display: inline-block;
	font-size: 14pt;
	text-align: center;
	cursor: pointer;
	padding: 12px 13px;
	background: #000066;
	color: #ffffff;
	line-height: 1em;
	transition: .3s;
	box-shadow: 8px 8px 3px #666666;
	border: 2px solid #000066;
	position: relative;
	left: 2px;
}

.button:hover {
	box-shadow: none;
	color: #000066;
	background: #ffffff;
}

form {
	margin: 0px 190px 0px 190px;
}

input {
	margin: 0px 190px 0px 190px;
	width: 250px;
}

body {
	background: url(/TimeSheetApp/img/DSC_1228.JPG) no-repeat center center
		fixed #C0C0C0;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-color: rgba(255, 255, 255, 0.8);
	background-blend-mode: lighten;
}