@charset "UTF-8";

header {
	font-size: 46px;
	text-align: center;
	line-height: 0.95em;
	font-weight: bold;
	color: #FFAB91;
	text-shadow: 0.02em 0.02em 0.02em rgba(0, 0, 0, 1);
}

p {
	text-align: center;
	margin: 0;
	padding: 0;
	font-size: 25px;
}

.login {
	position: center;
	display: inline-block;
	font-size: 14pt;
	text-align: center;
	cursor: pointer;
	padding: 12px 32px;
	background: #000066;
	color: #ffffff;
	line-height: 1em;
	transition: .3s;
	box-shadow: 8px 8px 3px #666666;
	border: 2px solid #000066;
	position: relative;
	top: 10px;
}

.login:hover {
	box-shadow: none;
	color: #000066;
	background: #ffffff;
}

.button {
	position: center;
	display: inline-block;
	font-size: 14pt;
	text-align: center;
	cursor: pointer;
	padding: 12px 13px;
	background: #000066;
	color: #ffffff;
	line-height: 1em;
	transition: .3s;
	box-shadow: 8px 8px 3px #666666;
	border: 2px solid #000066;
	position: relative;
	left: 2px;
}

.button:hover {
	box-shadow: none;
	color: #000066;
	background: #ffffff;
}

body {
	background-color: #EEEEEE;
}