@charset "UTF-8";

h1 {
	font-size: 46px;
	text-align: center;
	line-height: 0.95em;
	font-weight: bold;
	color: #fbca4d;
	text-shadow: 0 0.05em 0.08em rgba(0, 0, 0, 0.7);
	font-family: "Meiryo";
}

.heading {
	position: relative;
	padding-top: 50px;
	padding-left: 30px;
	font-size: 26px;
}

.heading span {
	position: relative;
	z-index: 2;
}

.heading::before {
	content: attr(data-en);
	position: absolute;
	transform: rotate(-5deg);
	top: -20px;
	left: 0;
	color: rgba(224, 66, 114, 0.6);
	font-size: 80px;
	font-weight: 400;
	font-family: luxus-brut, cursive;
	font-style: italic;
}

table {
	margin-left: auto;
	margin-right: auto;
	border-spacing: 15px;
}

th {
	text-align: left;
	font-size: 20px;
}

form {
	margin: 10px 190px 10px 190px;
	text-align: center;
}
input{
	width:250px;
}

section {
	margin: 0 auto;
}

.btn {
	position: center;
	display: inline-block;
	font-size: 14pt;
	text-align: center;
	cursor: pointer;
	padding: 12px 32px;
	background: #000066;
	color: #ffffff;
	line-height: 1em;
	transition: .3s;
	box-shadow: 8px 8px 3px #666666;
	border: 2px solid #000066;
	position: relative;
	top: 10px;
}

.btn:hover {
	box-shadow: none;
	color: #000066;
	background: #ffffff;
}

.button {
	position: center;
	display: inline-block;
	font-size: 14pt;
	text-align: center;
	cursor: pointer;
	padding: 12px 15px;
	background: #000066;
	color: #ffffff;
	line-height: 1em;
	transition: .3s;
	box-shadow: 8px 8px 3px #666666;
	border: 2px solid #000066;
	position: relative;
	top: 10px;
	text-decoration-line: none;
}

.button:hover {
	box-shadow: none;
	color: #000066;
	background: #ffffff;
}

body {
	background: url(/TimeSheetApp/img/DSC_1604.JPG) no-repeat center center
		fixed #C0C0C0;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-color: rgba(255, 255, 255, 0.8);
	background-blend-mode: lighten;
}